{% extends "users/home.html" %}


{% block content %}

    
    <div class="row m-3">
        {% for course in courses %}
         
       
       
          <div class="card m-2" style="width: 18rem;">
           <img src="{{ course.image.url }}" class="card-img-top" alt="...">
           <div class="card-body">
             <p class="card-title text-center border-bottom"> <strong>{{course.title}}</strong> <span class="badge badge-danger">New</span></p>
             <div class="media">
               <img src="{{course.author.profile.image.url}}" class=" profile-pic rounded-circle mr-3" alt="...">
               <div class="media-body">
                 <p class="mt-0">{{course.author.username}}</p>
                 <i class="far fa-clock"></i>
                 {{course.duration}} hours
                
               </div>
             </div>
       
       
             <p class="card-text mt-2">{{course.content | safe | truncatewords_html:20}}.</p>
             <a href="{% url 'course-detail-path' course.pk %}" class="btn btn-primary">More details</a>
           </div>
         </div>
       
       
        {% endfor %}
       </div>

  
{% endblock content %}

