{% extends "users/home.html" %}


{% block content %}

<div class="card">
    <img src="{{course.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{course.title}}</h5>
      <p class="card-text">{{course.content}}</p>
      <a href="{% url 'course-home-path' %}" class="btn btn-primary">Back</a>
      
      {% if course.author == request.user %}
      <a href="{% url 'course-update-path' course.id %}" class="btn btn-success">Update</a>
      {% endif %}
          
     

    </div>
  </div>
  
{% endblock content %}