{% extends "users/home.html" %}
 {% load static %}
{% block content %}

<div class="row ">
<div class="card" style="width: 60rem;">
  <img src="{% static 'assets/partners1.png' %}" class="card-img-top" alt="...">
</div>
</div>

<div class="row m-3">
 {% for course in page_obj %}

   <div class="card m-2" style="width: 18rem;">
    <img src="{{ course.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-title text-center border-bottom"> <strong>{{course.title}}</strong> <span class="badge badge-danger">New</span></p>
      <div class="media">
        <img src="{{course.author.profile.image.url}}" class=" profile-pic rounded-circle mr-3" alt="...">
        <div class="media-body">
          <a href= "{% url 'author-courses-path' course.author.username %}" class="mt-0">{{course.author.username}}</a>
          <i class="far fa-clock"></i>
          {{course.duration}} hours
         
        </div>
      </div>


      <p class="card-text mt-2">{{course.content | safe | truncatewords_html:20}}.</p>
      <a href="{% url 'course-detail-path' course.pk %}" class="btn btn-primary">More details</a>
    </div>
  </div>


 {% endfor %}
</div>


<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1" class="btn btn-outline-info">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info">last &raquo;</a>
      {% endif %}
  </span>
</div>



{% endblock content %}